<div class="container">

  <div class="row">
    
    <div class="col-md-6">

      <h1 class="form-signin-heading">Login</h1>
      <p class="lead">Não possui um acesso ?  <a routerLink="/register">Cadastre-se </a> !</p>
  
      <form (submit)="login()">
        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Entrar</button>
      </form>

    </div>
  </div>

</div>
